body {
  overflow: hidden; /* Hide scrollbars */
}

#hide-controls-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

#disclaimerBox {
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#controls {
  position: fixed;
  top: 50px;
  left: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  visibility: visible;
  pointer-events: auto;
  transition: visibility 0.3s ease-in-out;
}

#controls.hidden {
  visibility: hidden;
  pointer-events: none;
}

.dot {
  position: absolute;
  left: 300px;
  top: 300px;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1s infinite;
}

.dot.flash {
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

